.main{
    .codingexamples-inner{
        h1{
            margin-bottom: 20px;
        }
        h2{
            margin-bottom: 15px;
        }
        p{
            padding-bottom: 15px;
        }
        .contact-social{
            margin:15px 0;
        }
    }
}