
.twitter:hover{
    background-color: $color-twitter !important;
  }

.linkedin:hover{
    background-color: $color-linkedin !important;
  }

.instagram:hover{
    background-color: $color-instagram !important;
  }

.facebook:hover{
    background-color: $color-facebook !important;
}