@media (min-width:768px){
   .main{
        .inner{
            .scs-container{
                .article-container{
                    flex-wrap: nowrap;
                    //Reverse row on odd article containers
                    &:nth-child(4n+1){
                        flex-direction: row-reverse;
                    } 
                    //Text box
                    .article-text{

                    }

                    //Image box
                    .article-img{
                        margin:0 30px;
                        img{
                            width:300px;
                            height:300px;
                        }
                    }
                }
            }
        }
    }
}