@media (min-width:768px){
    .banner-text{
        display:flex;
    }
    //  h1/p font-size original.
    h1{
        font-size:72px;
        margin-bottom:0;
    }
    p{
        font-size:36px;
    }
}

