@media (min-width: 768px){
    .container-contact-form{
        .contact-info{
            margin:25px 0;
        }
        .contact-form{

        }
    }
}

@media (min-width: 992px){
    .container-contact-form{
        margin:25px 0;
        .contact-info{
            
        }
        .contact-form{


        }
    }
}

@media (min-width: 1260px){
    .container-contact-form{
        margin:25px 0;
        .contact-info{
            
        }
        .contact-form{

            margin:0;
        }
    }
}