@media (min-width: 768px){
    .inner .container-contact-form{
        //Contact info container
        .contact-info{
            .contact-social{

                //logo box container
                .social-logos{
                    flex-direction: row;
                    flex-wrap: wrap;
                    width:100%;
                    //logo boxes
                    a{
                        width:55px;
                        height:55px;
                        padding:3px;
                        margin-right:5px;
                        //logo icon
                        span{
                            font-size:28px;
                        }
                    }
                }   
            }

        }
        //Contact form container
        .contact-form{

        }
    }
}

@media (min-width: 992px){
    .inner .container-contact-form{
        .contact-info{
            .contact-social{
                //logo box container
                .social-logos{
                    flex-direction: row;
                    flex-wrap: wrap;
                    width:100%;
                    //Logo boxes
                    a{
                        width:60px;
                        height:60px;
                        margin-right:5px;
                        padding:8px;

                        //logo icon
                        span{
                            font-size:32px;
                        }
                    }
                }   
            }
        }
        .contact-form{


        }
    }
}

@media (min-width: 1260px){
    .inner .container-contact-form{
        margin:25px 0;
        .contact-info{
            display:block;
            .contact-details, .contact-social{
                height:50%;
            }

            .contact-social{
                //logo box container
                .social-logos{
                    flex-direction: row;
                    flex-wrap: wrap;
                    //logo boxes
                    a{
                        margin-right:5px;
                        padding:8px;
                        //logo icons
                        span{
                            
                            font-size:36px;
                        }
                    }
                }   
            }
        }
        .contact-form{
            margin:0;
            padding: 0 15px;
        }
    }
}