//BASE FONT-SIZES
//h1 48px
//h2 36px
//h3 24px
//
//
//
//


//Some base media queries, including .container bootstrap overwriting.
@media (min-width: 768px){
    .container{
        width:680px;
        .inner{
            margin:0 35px;
        }
    }

    .btn{
        font-size:1.5rem;

    }
}

@media (min-width: 992px){
    .container{
        width:900px;
    }
    .inner{
        margin:0 45px;
    }
}

@media (min-width: 1260px){
    body{
        margin-left:300px;
    }
    .container{
        width:100%;
    }
    .inner{
        margin:0 60px;
    }
}








