.sidenav{
    display:none;
    position: fixed;
    width: 300px;
    height: 100%;
    top:0;
    left:0;
    background-color: #3a3636;
    border-right:3px solid #ae00ff;
    overflow:hidden;

    .image-container{
        text-align: center;
        img{
            height:300px;
            width:300px;
            object-fit: cover;
        }
    }
}
