.sidenav{
    display:none;
    position: fixed;
    width: 300px;
    height: 100%;
    top:0;
    left:0;
    background-color: #3a3636;
    overflow:hidden

    .image-container{
        height:300px;

    }
}
