.main{
    .inner{
        .scs-container{
            h1{
                font-weight:600;
            }
            h2{
                display:flex;
                flex-wrap: wrap;
                font-size:20px;
            }
        }
    }
}